<% content_for :header do %>
  <%= render "web/librarians/shared/document_header",
    current: "Books",
    title: "All",
    description: "All books in one place."
  %>
<% end %>

<section>
  <%= render partial: "web/librarians/shared/books/search_form" %>

  <% if books.present? %>
    <%= render partial: "web/librarians/shared/books/table", locals: {books:} %>
  <% elsif ::Book.exists? %>
    <hgroup>
      <h4>No results</h4>
      <p>Try to refine your search</p>
    </hgroup>
  <% else %>
    <hgroup>
      <h4>You don't have any books</h4>
      <p>Start by adding a <%= render partial: "web/librarians/shared/books/new_button" %></p>
    </hgroup>
  <% end %>
</section>
