<nav>
  <ul>
    <li><%= link_to "Dashboard", web_librarians_dashboards_path, class: "secondary" %></li>
    <li><%= link_to "Books", web_librarians_books_path, class: "secondary" %></li>
    <li><%= link_to "Borrowings", web_librarians_borrowings_path, class: "secondary" %></li>
  </ul>
</nav>
