<div class="overflow-auto">
  <table>
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Due Date</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "web/members/borrowings/item", collection: borrowings, as: :borrowing %>
    </tbody>
  </table>
</div>

<%== pagy_nav(pagy) %>
