<tr>
  <td>
    <%= book.title %>
  </td>
  <td>
    <%= book.author %>
  </td>
  <td>
    <%= book.genre %>
  </td>
  <td>
    <% if allowed_to?(:destroy?, ::Book) %>
      <%= button_to "Remove", web_librarians_book_path(book),
        method: :delete,
        class: "outline secondary",
        title: "Remove book",
        data: {turbo_confirm: "Confirm book removal?"} %>
    <% end %>
  </td>
</tr>
