<div class="overflow-auto">
  <table>
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Genre</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "web/librarians/shared/books/table_row", collection: books, as: :book %>
    </tbody>
  </table>
</div>
