<div class="overflow-auto">
  <table>
    <thead>
      <tr>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "web/librarians/users/member",
                 collection: members,
                 as: :member
      %>
    </tbody>
  </table>
</div>

<%== pagy_nav(pagy) %>
