<% content_for :header do %>
  <%= render "web/shared/document_header",
    current: "Users",
    title: "Users",
    description: "Members with overdue books."
  %>
<% end %>

<section>
  <% if members.present? %>
    <%= render partial: "web/librarians/users/members",
               locals: { members:, pagy: }
    %>
  <% else %>
    <hgroup>
      <p>No members.</p>
    </hgroup>
  <% end %>
</section>
