<% content_for :header do %>
  <%= render "web/librarians/shared/document_header",
    current: "Borrowings",
    title: "Borrowings",
    description: "User borrowings."
  %>
<% end %>

<section>
  <% if borrowings.present? %>
    <%= render partial: "web/librarians/users/borrowings/members",
               locals: { borrowings:, pagy: }
    %>
  <% else %>
    <hgroup>
      <p>No members.</p>
    </hgroup>
  <% end %>
</section>
