<header class="container">
  <nav>
    <ul>
      <li>
        <strong>Freebooks</strong>
      </li>
    </ul>

    <ul>
      <li>
        <%= render partial: "web/shared/books/new_button" %>
      </li>

      <li>
        <details class="dropdown">
          <summary>
            Account
          </summary>
          <ul>
            <li>
              <%= link_to "Log out",
                          web_librarians_sessions_path,
                          data: {
                            turbo_method: :delete
                          },
                          class: "secondary"
              %>
            </li>
          </ul>
        </details>
      </li>
    </ul>
  </nav>
</header>
