<header class="container">
  <nav>
    <ul>
      <li>
        <strong>Freebooks</strong>
      </li>
    </ul>

    <ul>
      <li>
        <%= render partial: "web/shared/books/new_button" %>
      </li>
    </ul>
  </nav>
</header>
